---
import Next from "src/icons/Next.astro";
import SendResponse from "src/icons/Send.astro";
---

<section class="max-w-5xl mx-auto w-full px-4 py-8">
  <div
    class="bg-background-blue p-6 rounded-3xl flex flex-col justify-center items-center gap-4"
  >
    <h1 class="text-black/70 font-semibold text-2xl text-center">
      ¿Qué significa esta seña?
    </h1>

    <div class="bg-white rounded-3xl p-4 w-full">
      <form id="signalForm">
        <div class="grid place-content-center mb-6">
          <div class="p-4 rounded-2xl w-full lg:h-[450px]" id="signalImage">
          </div>
        </div>
        <div class="mb-6">
          <input
            id="responseInput"
            placeholder="Digite la traduccion de la seña"
            class="w-full p-4 border-b border-gray-300 focus:outline-none text-gray-600"
          />
        </div>
        <button
          type="submit"
          class="text-lg font-semibold bg-blue hover:saturate-150 transition text-white
          rounded-full px-4 py-2 inline-flex gap-x-2 justify-center items-center w-full mb-4"
        >
          <SendResponse />
          Adivinar
        </button>
        <button
          id="nextItem"
          type="button"
          class="text-lg font-semibold bg-gray-500 hover:saturate-150 transition text-white
          rounded-full px-4 py-2 inline-flex gap-x-2 justify-center items-center w-full"
        >
          <Next />
          Siguiente seña
        </button>
      </form>
      <div
        id="containerMessage"
        class="hidden w-full bg-amber-100 rounded-md p-6 my-4"
      >
        <p id="resultMessage" class="text-center font-semibold text-2xl"></p>
      </div>
    </div>
  </div>
</section>

<script>
  //Define information about signals in the server
  const information = [
    { title: "sena-1", href: "/signals/sena_1.GIF", response: "bienvenidos" },
    {
      title: "sena-2",
      href: "/signals/sena_2.GIF",
      response: "con mucho gusto",
    },
    { title: "sena-3", href: "/signals/sena_3.GIF", response: "como esta" },
    {
      title: "sena-4",
      href: "/signals/sena_4.GIF",
      response: "felicitaciones",
    },
    { title: "sena-5", href: "/signals/sena_5.GIF", response: "excelente" },
    {
      title: "sena-7",
      href: "/signals/sena_7.gif",
      response: "abuelo",
    },
    {
      title: "sena-8",
      href: "/signals/sena_8.gif",
      response: "hijo",
    },
    {
      title: "sena-9",
      href: "/signals/sena_9.gif",
      response: "hermanastro",
    },
    {
      title: "sena-10",
      href: "/signals/sena_10.gif",
      response: "cuñado",
    },
    {
      title: "sena-11",
      href: "/signals/sena_11.gif",
      response: "bisabuelo",
    },
    {
      title: "sena-12",
      href: "/signals/sena_12.gif",
      response: "tio",
    },
    {
      title: "sena-13",
      href: "/signals/sena_13.gif",
      response: "padrino",
    },
    {
      title: "sena-14",
      href: "/signals/sena_14.gif",
      response: "hermano",
    },
    {
      title: "sena-15",
      href: "/signals/sena_15.gif",
      response: "familia",
    },
    {
      title: "sena-16",
      href: "/signals/sena_16.gif",
      response: "limpio",
    },
    {
      title: "sena-17",
      href: "/signals/sena_17.gif",
      response: "feo",
    },
    {
      title: "sena-18",
      href: "/signals/sena_18.gif",
      response: "coqueta",
    },
    {
      title: "sena-19",
      href: "/signals/sena_19.gif",
      response: "dificil",
    },
    {
      title: "sena-20",
      href: "/signals/sena_20.gif",
      response: "risueño",
    },
    {
      title: "sena-21",
      href: "/signals/sena_21.gif",
      response: "responsable",
    },
    {
      title: "sena-22",
      href: "/signals/sena_22.gif",
      response: "triste",
    },
    {
      title: "sena-24",
      href: "/signals/sena_24.gif",
      response: "aburrido",
    },
    {
      title: "sena-25",
      href: "/signals/sena_25.gif",
      response: "entender",
    },
    {
      title: "sena-26",
      href: "/signals/sena_26.gif",
      response: "pregunta",
    },
    {
      title: "sena-27",
      href: "/signals/sena_27.gif",
      response: "repasar",
    },
    {
      title: "sena-28",
      href: "/signals/sena_28.gif",
      response: "empezar",
    },
    {
      title: "sena-29",
      href: "/signals/sena_29.gif",
      response: "comunicar",
    },
    {
      title: "sena-30",
      href: "/signals/sena_30.gif",
      response: "practicar",
    },
    {
      title: "sena-31",
      href: "/signals/sena_31.gif",
      response: "castigar",
    },
    {
      title: "sena-32",
      href: "/signals/sena_32.gif",
      response: "minutos",
    },
    {
      title: "sena-33",
      href: "/signals/sena_33.gif",
      response: "segundos",
    },
    {
      title: "sena-34",
      href: "/signals/sena_34.gif",
      response: "ultimo",
    },
    {
      title: "sena-35",
      href: "/signals/sena_35.gif",
      response: "no tengo tiempo",
    },
    {
      title: "sena-36",
      href: "/signals/sena_36.gif",
      response: "demorar",
    },
    {
      title: "sena-37",
      href: "/signals/sena_37.gif",
      response: "atrasado",
    },
    {
      title: "sena-38",
      href: "/signals/sena_38.gif",
      response: "todavia",
    },
    {
      title: "sena-39",
      href: "/signals/sena_39.gif",
      response: "cuando",
    },
    {
      title: "sena-40",
      href: "/signals/sena_40.gif",
      response: "por donde",
    },
    {
      title: "sena-41",
      href: "/signals/sena_41.gif",
      response: "para que",
    },
    {
      title: "sena-42",
      href: "/signals/sena_42.gif",
      response: "por que",
    },
    {
      title: "sena-43",
      href: "/signals/sena_43.gif",
      response: "quien",
    },
    {
      title: "sena-44",
      href: "/signals/sena_44.gif",
      response: "donde vive",
    },
    {
      title: "sena-45",
      href: "/signals/sena_45.gif",
      response: "que le pasa",
    },
    {
      title: "sena-46",
      href: "/signals/sena_46.gif",
      response: "despues",
    },
    {
      title: "sena-47",
      href: "/signals/sena_47.gif",
      response: "mas tarde",
    },
    {
      title: "sena-48",
      href: "/signals/sena_48.gif",
      response: "mañana",
    },
    {
      title: "sena-49",
      href: "/signals/sena_49.gif",
      response: "excelente",
    },
    {
      title: "sena-50",
      href: "/signals/sena_50.gif",
      response: "tiempo sin verte",
    },
    {
      title: "sena-51",
      href: "/signals/sena_51.gif",
      response: "bienvenido",
    },
    {
      title: "sena-52",
      href: "/signals/sena_52.gif",
      response: "hola",
    }
  ];

  const signalImage = document.getElementById(
    "signalImage"
  ) as HTMLImageElement;

  //Get random number
  const randomIndex = Math.floor(Math.random() * information.length);
  const randomItem = information[randomIndex];

  signalImage.innerHTML = `<img src="${randomItem.href}" alt="${randomItem.title}" class="h-full max-w-full object-contain mx-auto" />`;

  const form = document.getElementById("signalForm");
  const inputValue = document.getElementById("responseInput") as any;
  const resultMessage = document.getElementById("resultMessage") as any;
  const containerMessage = document.getElementById("containerMessage") as any;

  form?.addEventListener("submit", function (event) {
    event.preventDefault();

    const valueResponse = inputValue.value.trim().toLowerCase();

    if (valueResponse == randomItem.response.trim().toLowerCase()) {
      resultMessage.textContent = "¡Correcto! La respuesta es correcta 😊.";
      resultMessage.classList.add("text-green-700");
      resultMessage.classList.remove("text-red-700");

      showMessageAndClearInput();

      setTimeout(() => {
        location.reload();
      }, 3000);
    } else {
      resultMessage.textContent = "¡Incorrecto! Intenta de nuevo 😞.";
      resultMessage.classList.add("text-red-700");
      resultMessage.classList.remove("text-green-700");

      showMessageAndClearInput();
    }
  });

  //function to show message and clean input
  const showMessageAndClearInput = () => {
    containerMessage.classList.remove("hidden");
    inputValue.value = "";
  };

  const nextButton = document.getElementById("nextItem") as HTMLButtonElement;

  nextButton?.addEventListener("click", () => {
    window.location.reload();
  });
</script>
